{% extends 'base.html.twig' %}

{% block title %}Kommentare{% endblock %}

{% block body %}

    <div>

        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        <br><input type="text" name="author" value="author"/><br><br>
        <input type="text" name="email" value="email"/><br><br>
        <input type="text" id="text" name="text" value="Text"/><br><br>

        {{ form_end(our_form) }}

    </div>


{% endblock %}
